@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$sans: "Roboto", sans-serif;
$serif: "Merriweather", serif;
$mono: "Fira Mono", monospace;
