@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Code:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /*Customize*/
  --primary-color: rgb();
  --accent-color: rgb(163, 73, 164);
  --accent-semitransparent: rgba(163, 73, 164, 0.7);
  --primary-lighter: rgb();
  --accent-lighter: rgb(216, 99, 218);
  --primary-darker: rgb();
  --accent-darker: rgb(73, 35, 73);

  --border-color: rgb(238, 237, 230);

  --text-color: rgb(10, 10, 10);
  --link-color: rgb(0, 116, 170);
  --link-hover-color: rgb(2, 83, 83);
  --accent-text: #ffffff;

  --serif-font: "Noto Serif"; /*Serif*/
  --sans-serif-font: "Ubuntu", sans-serif; /*Sans-serif*/
  --code-font: "Fira Code", monospace; /*Monospace*/

  --navbar-text-color: rgb(255, 255, 255);
  --navbar-height: 70px;
  --navbar-type: fixed;
  /*Choose whether you want your navbar to be fixed or hide on scroll 
   options: fixed or absolute;
   */

  --background-blur: 10px;
  --aside-width: 200px;

  font-size: 15px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  font-family: var(--sans-serif-font);
  font-size: 1.2rem;
  color: var(--text-color);
  scrollbar-color: var(--accent-color) var(--border-color);
  scrollbar-width: normal;
}

.container {
  margin-top: calc(var(--navbar-height) + 1.2rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

footer {
  min-height: var(--navbar-height);
  background-color: var(--border-color);
  width: 100%;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

footer p {
  color: var(--text-color);
}

.hidden {
  display: none;
}

.noselect {
  user-select: none;
}

.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}

p {
  margin: 20px;
  color: var(--text-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p img {
  max-width: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0;
}

p.hero-text {
  font-size: 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-darker);
  margin: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: normal;
  /* border-bottom: 1px solid var(--border-color); */
}

@media screen and (min-width: 768px) {
  p {
    max-width: 60vw;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 60vw;
    margin: auto;
  }
}

hr {
  width: 60%;
  border: none;
  background-color: var(--border-color);
  height: 1px;
}

::selection {
  background-color: var(--accent-color);
  color: var(--accent-text);
}


/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-darker);
}

.btn {
  background-color: var(--accent-color);
  border: 3px solid var(--accent-color);
  color: var(--accent-text);
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--accent-darker);
  border: 3px solid var(--accent-darker);
  color: var(--accent-text);
  text-decoration: none;
}

.btn.btn-secondary {
  background-color: transparent;
  color: var(--accent-color);
}

.btn.btn-secondary:hover {
  border: 3px solid var(--accent-darker);
  background-color: var(--accent-darker);
  color: var(--accent-text);
}

nav {
  height: var(--navbar-height);
  position: var(--navbar-type);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--accent-color);
  color: var(--navbar-text-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

nav div.links,
nav div.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav div.logo img {
  max-height: 100%;
}

nav a {
  padding: 23px;
  color: var(--navbar-text-color);
}

nav a:hover {
  background-color: var(--accent-darker);
  color: var(--navbar-text-color);
  text-decoration: none;
}

.sidenav {
  height: 0px;
  width: 250px;
  position: fixed;
  z-index: 100;
  top: var(--navbar-height);
  right: 0;
  background-color: var(--accent-semitransparent);
  backdrop-filter: blur(--background-blur);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  backdrop-filter: blur(10px);
  overflow-y: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--navbar-text-color);
  display: block;
  transition: all 0.3s ease-in-out;
  background: none;
}

.sidenav a:hover,
.sidenav a:focus {
  background-color: var(--accent-darker);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#contr-nav {
  display: none;
}

aside {
  background-color: inherit;
  z-index: 10;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  height: calc(100vh - var(--navbar-height));
  width: var(--aside-width);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  scrollbar-color: var(--accent-color) var(--border-color);
  scrollbar-width: normal;
}

aside p,
aside a,
aside ul,
aside ol,
aside li {
  margin: 20px;
  font-weight: 300;
}

aside ul {
  list-style: none;
  padding: 0px;
  font-weight: 400;
}

aside ul > a {
  font-weight: 400;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  aside {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--border-color);
    margin: none;
    height: auto;
    max-height: 40vh;
  }
  .container {
    margin-left: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #797979;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  border: 3px solid white;
}
.switch-label::after {
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-text);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: var(--accent-color);
}
.switch-input:checked + .switch-label::after {
  left: 28px;
}
/*line 400*/