@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /*Customize*/
  --body-bgcolor: rgb(255, 255, 255);
  --footer-bgcolor: rgb(231, 231, 231);
  --accent-color: rgb(195, 0, 255);
  --accent-semitransparent: rgba(195, 0, 255, 0.7);
  --accent-almost-transparent: rgba(195, 0, 255, 0.1);
  --accent-light: rgb(204, 65, 247);
  --accent-lighter: rgb(228, 140, 255);
  --accent-dark: rgb(150, 0, 196);
  --accent-darker: rgb(89, 0, 116);

  --shade-red: rgb(255, 57, 57);
  --shade-red-dark: rgb(224, 0, 0);

  --shade-green: rgb(0, 211, 0);
  --shade-green-dark: rgb(0, 184, 0);

  --shade-blue: rgb(64, 182, 250);
  --shade-blue-dark: rgb(0, 151, 211);

  --border-color: rgb(212, 212, 212);
  --border-radius: 5px;

  --text-color: rgb(31, 31, 31);
  --line-height: 1.5rem;
  --link-color: rgb(0, 116, 170);
  --link-hover-color: rgb(2, 83, 83);
  --accent-text: #ffffff;
  --accent-text-dark: rgb(70, 70, 70);

  --serif-font: "Roboto Slab"; /*Serif*/
  --headings-font: "Ubuntu", sans-serif; /*For Headings*/
  --sans-serif-font: "Roboto", sans-serif; /*Sans-serif*/
  --code-font: "Fira Code", monospace; /*Monospace*/
  --btn-font: "Roboto", sans-serif; /*Used in buttons*/

  --code-color: rgb(50, 173, 255);
  --code-bgcolor: rgb(31, 31, 31);
  --code-label-color: rgb(250, 91, 91);

  --tooltip-color: rgb(255, 255, 255);
  --tooltip-bgcolor: rgba(0, 0, 0, 0.8);

  --navbar-text-color: rgb(255, 255, 255);
  --navbar-initial-height: 80px;
  --navbar-initial-bgcol: transparent;
  --navbar-height: 60px;
  --navbar-type: fixed;
  /*Choose whether you want your navbar to be fixed or hide on scroll 
   options: fixed or absolute;
   */

  --background-blur: 5px;
  --aside-width: 200px;

  --actual-viewport-width: calc(100vw - var(--default-scrollbar-width));

  font-size: calc(1em - 1px);

  /*!Don't dare to touch the following variables, it will break stuff!*/
  --default-scrollbar-width: 0px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--sans-serif-font);
  font-size: 1rem;
  line-height: var(--line-height);
  color: var(--text-color);
  scrollbar-color: var(--accent-color) var(--accent-text);
  scrollbar-width: normal;
  display: inline-block;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(var(--background-blur));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 0;
}
.modal-overlay:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  height: 100%;
}
.modal-overlay > .modal {
  width: 500px;
  max-width: 90%;
  height: auto;
  max-height: 60%;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: #ffffff;
  border-radius: var(--border-radius);
}

.modal-overlay h1 {
  font-size: 2rem;
  margin: auto auto 1rem 1rem;
}

.modal p,
.modal .text {
  margin: auto;
}

.modal-close {
  color: #aaa;
  font-size: 2rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
  text-decoration: none;
}

.container {
  margin-top: calc(var(--navbar-height) + 1.2rem);
  margin-left: calc(var(--aside-width));
  margin-right: auto;
  max-width: 100vw;
}

.fullpage-section {
  height: 100vh;
}

.hero-section {
  /* background: linear-gradient(var(--accent-color), var(--accent-lighter)); */
  background: var(--accent-color)
    linear-gradient(
      -45deg,
      var(--accent-lighter),
      var(--accent-color),
      var(--accent-dark),
      var(--accent-lighter),
      var(--accent-color)
    );
  /* background-attachment: fixed; */
  background-size: 400%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: background-shift 20s ease-in-out alternate infinite;
  height: 95vh;
}

@keyframes background-shift {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

svg.curve-divider {
  fill: white;
  position: absolute;
  width: 100%;
  bottom: 5vh;
  height: 20vh;
}

.hero-container {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(var(--background-blur));
  padding: 2rem;
  border-radius: var(--border-radius);
}

.hero-container p {
  color: var(--accent-text);
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.hero-container h1 {
  color: var(--accent-text);
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
}

.hero-container a.btn-secondary,
.hero-container a.btn-secondary:hover {
  border: 0.2rem solid var(--accent-text);
  color: var(--accent-text);
  margin: 10px;
  font-weight: bold;
}

/*
.hero-container .btn.btn-secondary {
  color: var(--accent-text);
  border: 1px solid var(--accent-text);
}

.hero-container .hero-cta {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
} */

@media screen and (max-width: 400px) {
  .hero-container {
    height: 100%;
    width: 100%;
    margin-top: var(--navbar-initial-height);
  }
}

footer {
  min-height: var(--navbar-height);
  background-color: var(--footer-bgcolor);
  width: 100%;
  height: auto;
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
  position: absolute;
}

footer p {
  color: var(--text-color);
  font-size: 1rem;
}

blockquote {
  border-left: 4px solid var(--accent-color);
  padding-left: 1rem;
  margin-left: 5px;
  font-family: var(--serif-font);
}

.highlight {
  background-color: var(--accent-color);
  color: var(--accent-text);
  padding: 0.4rem;
  border-radius: var(--border-radius);
}
.highlight:hover {
  color: var(--accent-text);
}

[data-tooltip] {
  text-decoration: underline dotted;
  position: relative;
  cursor: default;
}

[data-tooltip]::after {
  visibility: hidden;
  opacity: 0;
  transform: translateY(1rem);
  content: attr(data-tooltip);
  position: absolute;
  width: 10rem;
  height: auto;
  left: calc(50% - 5rem);
  bottom: 70%;
  padding: 0.5rem;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--tooltip-bgcolor);
  backdrop-filter: blur(var(--background-blur));
  color: var(--tooltip-color);
  font-weight: 400;
  transition: all 0.4s;
}

[data-tooltip]:hover::after,
[data-tooltip]:active::after,
[data-tooltip]:focus::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hidden {
  display: none;
}

.noselect {
  user-select: none;
}

.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
.headings-font {
  font-family: var(--headings-font);
}
.serif {
  font-family: var(--serif-font);
}
.sans-serif {
  font-family: var(--sans-serif-font);
}
.monospace {
  font-family: var(--code-font);
}
.btn-font {
  font-family: var(--btn-font);
}

.semitransparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.transparent {
  background: transparent;
}

.blur {
  backdrop-filter: blur(var(--background-blur));
}

.fl-embed {
  transform: translateY(20px);
  width: 10rem;
}

ul {
  list-style-type: square;
}

.automargin-section {
  margin: 20px;
  color: var(--text-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: var(--line-height);
}

.automargin-section img {
  max-width: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0;
}

p.hero-text,
.text.hero-text {
  font-size: 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/*! Show some love here*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-darker);
  margin: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: normal;
  font-family: var(--headings-font);
  /* border-bottom: 1px solid var(--border-color); */
}

@media screen and (min-width: 768px) {
  .automargin-section {
    max-width: 60vw;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 60vw;
    margin: auto;
  }
}

hr {
  width: 60%;
  border: none;
  background-color: var(--border-color);
  height: 3px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

::selection {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

code {
  overflow: auto;
  background-color: var(--code-bgcolor);
  color: var(--code-color);
  font-family: var(--code-font);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--border-radius);
  line-height: 1.5rem;
}

code .comment {
  opacity: 0.7;
  user-select: none;
}

pre.code {
  width: 100%;
  background-color: var(--code-bgcolor);
  color: var(--code-color);
  padding: 10px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--code-font);
  border-radius: var(--border-radius);
}

pre.code[data-lang]::before {
  content: attr(data-lang);
  display: block;
  font-family: var(--code-font);
  color: var(--code-label-color);
  text-align: left;
  font-size: 1rem;
  user-select: none;
}

code::selection,
pre.code::selection {
  background-color: rgba(102, 102, 102, 0.5);
  color: var(--code-color);
}

pre.code .line-number {
  display: block;
}

pre.code .line-number {
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
  line-height: 1.5rem; /*Should be same as line height for <code element>*/
  opacity: 0.5;
  user-select: none;
}

pre.code .line-number span {
  display: block;
  padding: 0 0.5em 0 1em;
}

pre.code .cl {
  display: block;
  clear: both;
}

/*Custom Scrollbar for WEbkit browsers*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--accent-text);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dark);
}

a.btn:hover {
  color: var(--accent-text);
}

.btn {
  position: relative;
  overflow: hidden;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-text);
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  font-family: var(--btn-font);
  /* font-weight: 500; */
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin: 0.5rem;
  text-transform: uppercase;
  background-position: center;
  outline: none;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px 0.5rem rgba(128, 128, 128, 0.3);
  background: var(--accent-color)
    radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%) center/15000%;
  text-decoration: none;
}

.btn:active {
  background-color: var(--accent-color);
  background-size: 100%;
  transition: background 0s;
}

.btn.btn-secondary {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  border: 1px solid var(--border-color);
  background-color: var(--accent-almost-transparent);
  box-shadow: none;
}

.btn.btn-block {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-pill {
  border-radius: 30px;
}

.btn.btn-text {
  border: 0px;
  background-color: transparent;
  color: var(--accent-color);
}

.btn.btn-text:hover {
  background-color: var(--accent-almost-transparent);
  box-shadow: none;
}

.btn.btn-green {
  background-color: var(--shade-green);
  border: 1px solid var(--shade-green);
}

.btn.btn-green:hover {
  background-color: var(--shade-green-dark);
  border: 1px solid var(--shade-green-dark);
}
.btn.btn-red {
  background-color: var(--shade-red);
  border: 1px solid var(--shade-red);
}
.btn.btn-red:hover {
  background-color: var(--shade-red-dark);
  border: 1px solid var(--shade-red-dark);
}

.btn.btn-blue {
  background-color: var(--shade-blue);
  border: 1px solid var(--shade-blue);
}
.btn.btn-blue:hover {
  background-color: var(--shade-blue-dark);
  border: 1px solid var(--shade-blue-dark);
}

.file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.file-upload-input {
  display: none;
}

.file-upload-label {
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
*:disabled,
.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.4rem 1rem;
  color: var(--text-color);
  background-color: var(--accent-text);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-family: var(--btn-font);
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.2s;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 2rem;
}

.select:hover,
.select:focus,
select:active {
  border-color: var(--accent-color);
  background-color: var(--accent-almost-transparent);
}

.select:hover > option,
.select:focus > option,
select:active > option,
.select > option {
  background-color: var(--body-bgcolor);
}

.range {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--accent-color);
  padding: 0.2rem;
  border-radius: 1rem;
  height: 0.7rem;
  margin: auto;
  transition: all 0.2s;
  cursor: pointer;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.8rem;
  transition: all 0.1s ease-in;
  background-color: var(--accent-text);
  color: var(--accent-text);
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2);
}

.range::-moz-range-thumb {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.8rem;
  transition: all 0.1s ease-in;
  background-color: var(--accent-text);
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2);
}

.range:focus {
  outline: none;
}

.select-arrow {
  position: absolute;
  display: block;
  background: red;
  height: 1rem;
  width: 1rem;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
  background-color: var(--accent-text);
}

.checkbox:hover > .checkbox-box {
  background-color: var(--border-color);
}

.checkbox-box::after {
  content: " ";
  position: absolute;
  height: 0.5rem;
  width: 0.2rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
  border-right: 0.2rem solid var(--accent-text);
  border-bottom: 0.2rem solid var(--accent-text);
  transform: scale(0) rotate(45deg);
}

.checkbox-box::after:hover {
  border-bottom-color: var(--accent-light);
}

.checkbox-input:checked + .checkbox-box {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox:hover > .checkbox-input:checked + .checkbox-box {
  border: 1px solid var(--accent-light);
  background-color: var(--accent-light);
}

.checkbox-input:checked + .checkbox-box::after {
  transform: scale(1) rotate(45deg);
  color: var(--accent-text);
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio-input {
  display: none;
}

.radio-radio {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
  background-color: var(--accent-text);
}

.radio:hover > .radio-radio {
  background-color: var(--border-color);
}

.radio:hover > .radio-input:checked + .radio-radio {
  border: 0.4rem solid var(--accent-light);
  background-color: var(--accent-text);
}

.radio-input:checked + .radio-radio {
  border: 0.4rem solid var(--accent-color);
}

.toggle {
  --width: 3rem;
  --height: calc(var(--width) / 2);
  --toggle-border-radius: calc(var(--height) / 2);

  display: inline-flex;
  cursor: pointer;
  outline: none;
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .toggle-switch {
  background-color: var(--accent-color);
}

.toggle-switch {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--toggle-border-radius);
  background-color: var(--border-color);
  margin-right: 1rem;
  transition: all 0.1s;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: calc(var(--height) - 0.4rem);
  width: calc(var(--height) - 0.4rem);
  border-radius: var(--toggle-border-radius);
  background-color: var(--accent-text);
  transition: all 0.2s ease-out;
}

.toggle-input:checked + .toggle-switch::after {
  transform: translateX(var(--height));
}

.text-input {
  width: 80%;
  border: none;
  border: 2px solid var(--border-color);
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  margin: 0.5rem auto 0.5rem auto;
}

.text-input:focus {
  border: 2px solid var(--accent-color);
  outline: none;
}

.text-input.success {
  border: 2px solid var(--shade-green);
  color: var(--shade-green-dark);
}

.text-input.error {
  border: 2px solid var(--shade-red);
  color: var(--shade-red-dark);
}

.text-input.info {
  border: 2px solid var(--shade-blue);
  color: var(--shade-blue-dark);
}

nav {
  height: var(--navbar-height);
  position: var(--navbar-type);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--accent-color);
  color: var(--navbar-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: all 0.2s;
}

nav div.links,
nav div.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav div.links {
  margin: 0 2rem 0 0;
}

nav div.logo {
  margin: 0 0 0 2rem;
}

nav div.logo img {
  max-height: 100%;
}

nav a {
  padding: 1.2rem;
  color: var(--navbar-text-color);
}

nav a:hover {
  background-color: var(--accent-dark);
  color: var(--navbar-text-color);
  text-decoration: none;
}

.state-initial {
  height: var(--navbar-initial-height);
  background: var(--navbar-initial-bgcol);
  backdrop-filter: blur(var(--background-blur));
}

.sidenav {
  height: 0px;
  width: 250px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: var(--accent-semitransparent);
  backdrop-filter: blur(--background-blur);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0px;
  backdrop-filter: blur(10px);
  overflow-y: hidden;
  z-index: 1020;
}

.sidenav a {
  padding: 1rem 1rem 1rem 4rem;
  text-decoration: none;
  font-size: 25px;
  color: var(--navbar-text-color);
  display: block;
  transition: all 0.3s ease-in-out;
  background: none;
}

.sidenav a:hover,
.sidenav a:focus {
  background-color: var(--accent-dark);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#expand-nav {
  z-index: 1050;
}

#contr-nav {
  display: none;
  background-color: var(--accent-darker);
  width: 100%;
  text-align: center;
  float: right;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

aside {
  background-color: inherit;
  z-index: 10;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  height: calc(100vh - var(--navbar-height));
  width: var(--aside-width);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  scrollbar-color: var(--accent-color) var(--accent-text);
  scrollbar-width: normal;
}

aside p,
aside a,
aside ul,
aside ol,
aside li {
  margin: 20px;
  font-weight: 300;
}

aside ul {
  list-style: none;
  padding: 0px;
  font-weight: 400;
}

aside ul > a {
  font-weight: 400;
  color: var(--text-color);
}

.details {
  background-color: var(--accent-almost-transparent);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: all 0.2s;
}

.details[open] > .content {
  animation: openDetails 0.5s;
}

.details:focus-within {
  outline: none;
}

.details summary {
  cursor: pointer;
}

.details summary::marker {
  color: var(--border-color);
  transition: all 0.2s ease-in;
}

::-webkit-details-marker {
  color: var(--border-color);
  transition: all 0.2s ease-in;
}

.details summary:hover::-webkit-details-marker,
.details summary:focus::-webkit-details-marker {
  color: var(--accent-color);
}

.details summary:hover::marker,
.details summary:focus::marker {
  color: var(--accent-color);
}

.details summary:focus {
  outline: none;
}

@keyframes openDetails {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  aside {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--border-color);
    margin: none;
    height: auto;
    max-height: 40vh;
  }
  .container {
    margin-left: 0;
  }
}

/*For resizeable CodePen Embeds*/
.cp_embed_wrapper {
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  /* required to see the handle */
  background: #333333;
  padding-bottom: 10px;

  /* default height */
  height: 400px;
}
.cp_embed_wrapper iframe {
  height: 100% !important;
}
