@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Merriweather&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}
