.hidden {
	display: none;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.justify {
	text-align: justify;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center-children {
	display: flex;
	align-items: center;
	justify-content: center;
}

.space-between-children {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.y-align-wrapper {
	display: flex;
	align-items: center;
}

.x-align-wrapper {
	display: flex;
	justify-content: center;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.margin {
	margin: var(--margin);
}

.margin-x {
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.margin-y {
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

.padding {
	padding: var(--padding);
}

.padding-x {
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.padding-y {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.container {
	width: 90%;
	margin: auto;
}

.section {
	margin-top: calc(var(--margin) * 2);
	margin-bottom: calc(var(--margin) * 2);
}

.h100 {
	height: 100%;
}

.w100 {
	width: 100%;
}

.sans-font {
	font-family: var(--sans-font);
}

.serif-font {
	font-family: var(--serif-font);
}

.mono-font {
	font-family: var(--mono-font);
}

.border-radius {
	border-radius: var(--border-radius);
}

@media screen and (min-width: 600px) {
	.container {
		width: 85%;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 70%;
	}
}
