@use "abstracts/fonts" as font;
@use "abstracts/colors" as col;
@use "utility/box-model" as boxModel;
@use "grid/grid" as grid;

:root {
	--accent: #{col.$accent};
	--accent0: #{col.$accent0};
	--accent1: #{col.$accent1};
	--accent2: #{col.$accent2};
	--accent3: #{col.$accent3};
	--accent4: #{col.$accent4};

	--accent5: #{col.$accent5};
	--accent6: #{col.$accent6};
	--accent7: #{col.$accent7};
	--accent8: #{col.$accent8};
	--accent9: #{col.$accent9};

	--accent-semitransparent-2: #{col.$accentSemitransparent2};
	--accent-semitransparent-5: #{col.$accentSemitransparent5};
	--accent-semitransparent-7: #{col.$accentSemitransparent7};

	--grey: #{col.$grey};
	--grey0: #{col.$grey0};
	--grey1: #{col.$grey1};
	--grey2: #{col.$grey2};
	--grey3: #{col.$grey3};
	--grey4: #{col.$grey4};

	--grey5: #{col.$grey5};
	--grey6: #{col.$grey6};
	--grey7: #{col.$grey7};
	--grey8: #{col.$grey8};
	--grey9: #{col.$grey9};

	// --tint: #{col.$tint};

	--sans-font: #{font.$sans};
	--serif-font: #{font.$serif};
	--mono-font: #{font.$mono};

	--margin: #{boxModel.$margin};
	--padding: #{boxModel.$padding};

	--grid-margin: #{grid.$margin};
	--border-radius: 0.25rem;
}
